<section id="projects">
  <div class="container-title">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M7 8l-4 4l4 4"></path>
      <path d="M17 8l4 4l-4 4"></path>
      <path d="M14 4l-4 16"></path>
    </svg>
    <h3>Proyectos</h3>
    <div class="container-projects"></div>
  </div>
  <slot />
</section>
<style>
  #projects {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
</style>
